.wrapper {
  display: flex;
  height: 100vh;
}

.blueSide {
  background-color: #71c9f8;
  flex: 0 0 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 10px;
}

.blueSideBigIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400% !important;
  height: 400% !important;
  transform: translate(-50%, -50%);
}

.blueSideListInfo {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 380px;

  & h6 {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 20px;
  }
}

.blueSideListInfoIcon {
  font-size: 32px !important;
  margin-right: 15px;
}

.blueSideListInfoItem {
  margin-bottom: 40px;
}

.loginSide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 50%;
  padding: 0 10px;
  overflow: hidden;
}

.loginSideTwitterIcon {
  font-size: 45px !important;
  margin-bottom: 20px;
}

.loginSideWrapper {
  width: 380px;
}

.loginSideTitle {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 45px !important;
}

.registerField {
  margin-bottom: 15px !important;
}

.loginFormControl {
  margin-bottom: 20px !important;
}
