.rightSide {
  padding-top: 20px;
  position: sticky;
  top: 0;
}

.rightSideBlock {
  background-color: #f5f8fa !important;
  border-radius: 15px !important;
  margin-top: 20px;

  & :global {
    .MuiList-root {
      padding-top: 0;
    }
  }
}
