.tweetLoader {
  text-align: center;
  padding: 70px 0 0 0;
}

.textWrapper {
  padding-top: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.actionButtonRow {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  justify-content: space-around;
}

.tweetText {
  word-break: break-word;
  margin-bottom: 15px !important;
}

.tweetDate {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.875rem;
}

.profileLink {
  color: inherit;
  text-decoration: none;
}
